body {
  font-family: Inconsolata, 'Courier New', Courier, monospace;
}

.grid h3,
.grid h4 {
  border-bottom: dotted 1px #000;
}

img {
  border: dotted 1px #999;
  padding: 3px;
}
li {
  list-style: none;
  padding: 9px 0;
  border-bottom: dotted 1px #999;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 14px;
}
button {
  margin-top: 20px;
  font-size: 14px;
}
.user-value {
  font-weight: 700;
}
.user-name {
  font-size: 18px;
}
a.user-name {
  color: #000;
  text-decoration: none;
}
a.user-link:hover {
  color: #797979;
}

footer {
  text-align: center;
}
footer a {
  text-decoration: none;
  color: #000;
  border-bottom: #000 1px dotted;
  padding-bottom: 2px;
}
footer a:hover {
  text-decoration: none;
  color: #797979;
  border-bottom: #797979 1px dotted;
}
