body {
  font-family: Inconsolata, 'Courier New', Courier, monospace;
}

header.jumbotron {
  background:
  linear-gradient(
  rgba(233,236,239, 0.90),
  rgba(233,236,239, 0.90)
),
  url(../img/pattern.png);
  background-position: center;
  background-repeat: repeat;

  padding-bottom: calc(2rem - 20px);
}

h1 {
  text-align: center;
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 1.2;
  text-transform: uppercase;
  margin-bottom: 30px;
}

input.form-control {
  width:  95%;
  margin: 0 auto;
  font-size: 1.2rem;
}
label {
  color: #007bff;
  text-align: center;
  width: 100%;
  font-weight: 700;
}
.btn-group-lg>.btn, .btn-lg {
  padding: .45rem 1rem .3rem;
}
hr.above {
  margin-bottom: 0.5rem;

}
hr.below {
  margin-top: 0.5rem;
}

.searh-buttons {
  text-align: center;
}
.searh-buttons .btn {
  margin-bottom: 20px;
}

.sort-buttons .btn {
    margin: 5px 0;
}


.grid h3,
.grid h4 {
  border-bottom: dotted 1px #000;
}

.grid-item {
  margin: 20px 0;
}

img {
  border: dotted 1px #999;
  padding: 3px;
}
li {
  list-style: none;
  padding: 9px 0;
  border-bottom: dotted 1px #999;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.793rem;
}
.progress-bar {
  padding-top: 2px;
  font-size: 0.6rem;
}
.steam-calc {
  font-size: 12px;
  font-weight: 300;
}
button {
  margin-top: 20px;
  font-size: 14px;
}
.user-value {
  font-weight: 700;
}
.user-name {
  font-size: 18px;
}
a.user-name {
  color: #000;
  text-decoration: none;
}
a.user-link:hover {
  color: #797979;
}

footer {
  text-align: center;
  margin-bottom: 40px;
}
footer a {
  text-decoration: none;
  color: #000;
  border-bottom: #000 1px dotted;
  padding-bottom: 2px;
}
footer a:hover {
  text-decoration: none;
  color: #797979;
  border-bottom: #797979 1px dotted;
}

@media (min-width: 1200px) {
  .col-xl-15 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
}
